<app-page-header title="Teklif Al"></app-page-header>
<div class="d-flex py-2 justify-content-end gap-2">
    <dx-button text="Geri"
               icon="bi bi-arrow-left"
               type="normal"
               [disabled]="stepIndex==0"
               (onClick)="prevStep()"></dx-button>
    <dx-button text="Devam"
               icon="bi bi-arrow-right"
               type="success"
               [disabled]="newOrder.items.length < 1 || stepIndex == 3 || (stepIndex == 1 && !newOrder.district) || (stepIndex == 1 && !newOrder.district?.isAmazonDepot && (!newOrder.address || !newOrder.phoneNumber || !newOrder.name))"
               (onClick)="nextStep()"></dx-button>
</div>
<app-panel class="mb-4"
           *ngIf="stepIndex < 2">
    <dx-data-grid [showBorders]="true"
                  [showRowLines]="true"
                  [rowAlternationEnabled]="true"
                  [dataSource]="newOrder.items"
                  noDataText="Aşağıdaki formu kullanarak yüklerinizi ekleyiniz..."
                  (onRowRemoved)="onRowRemoved($event)"
                  class="shadow-sm">
        <dxo-editing [allowDeleting]="true"
                     [useIcons]="true"></dxo-editing>
        <dxo-master-detail [enabled]="true"
                           template="detailTemplate"></dxo-master-detail>
        <dxo-toolbar>
            <dxi-item>
                <div *dxTemplate>
                    <dx-button text="Temizle"
                               icon="bi bi-x"
                               type="danger"
                               stylingMode="text"
                               [visible]="newOrder.items.length != 0"
                               (onClick)="clearItems()"></dx-button>
                </div>
            </dxi-item>
        </dxo-toolbar>
        <dxo-paging [pageSize]="3"></dxo-paging>
        <dxo-pager [visible]="true"></dxo-pager>
        <dxi-column dataField="type"
                    caption="Tip"
                    width="80"
                    cellTemplate="typeCellTemplate"></dxi-column>
        <dxi-column dataField="image"
                    caption="Görsel"
                    cellTemplate="imageCellTemplate"></dxi-column>
        <dxi-column dataField="quantity"
                    format="#,##0"
                    caption="Adet"></dxi-column>
        <dxi-column dataField="weight"
                    format="#,##0"
                    caption="Ağırlık"
                    cellTemplate="weightCellTemplate"></dxi-column>
        <dxi-column dataField="amount"
                    format="#,##0"
                    caption="Toplam Ağırlık"
                    cellTemplate="amountCellTemplate"></dxi-column>
        <dxi-column dataField="width"
                    caption="En (cm)"></dxi-column>
        <dxi-column dataField="length"
                    caption="Boy (cm)"></dxi-column>
        <dxi-column dataField="height"
                    caption="Yükseklik (cm)"></dxi-column>
        <dxi-column dataField="contents"
                    caption="Kategori / İçerik"></dxi-column>
        <dxi-column dataField="products"
                    caption="Ürün Adedi"></dxi-column>
        <div *dxTemplate="let cellInfo of 'typeCellTemplate'"
             class="d-flex flex-column gap-2 align-items-center justify-content-center">
            <div [ngSwitch]="cellInfo.data.type.id">
                <i *ngSwitchCase="0"
                   class="bi bi-box"></i>
                <i *ngSwitchCase="1"
                   class="bi bi-boxes"></i>
                <i *ngSwitchCase="2"
                   class="bi bi-stack"></i>
            </div>
            <div>{{cellInfo.data.type.text}}</div>
        </div>
        <div *dxTemplate="let cellInfo of 'imageCellTemplate'">
            <img [attr.src]="cellInfo.data.image"
                 class="object-fit-contain"
                 height="60"
                 width="60" />
        </div>
        <div *dxTemplate="let cellInfo of 'amountCellTemplate'">
            {{cellInfo.data.type.id == 2 ? cellInfo.data.amount * 1000 : cellInfo.data.amount| number }}
        </div>
        <div *dxTemplate="let cellInfo of 'weightCellTemplate'">
            {{cellInfo.data.type.id == 2 ? cellInfo.data.weight * 1000 : cellInfo.data.weight| number }}
        </div>
        <div *dxTemplate="let cellInfo of 'detailTemplate'">
            <div class="card">
                <div class="card-header">Seçilen İşlemler</div>
                <div class="card-body">
                    <ul class="list-unstyled">
                        <li *ngFor="let feature of cellInfo.data.features"
                            class="d-flex">
                            <i class="bi bi-check text-success"></i>
                            <div class="flex-fill">{{feature.nameTr}}</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </dx-data-grid>
</app-panel>
<app-panel class="mb-4">
    <div [ngSwitch]="stepIndex">
        <div *ngSwitchCase="0">
            <app-section-header title="Yeni Yük"></app-section-header>
            <div class="d-flex justify-content-end">
                <dx-button text="Ekle"
                           icon="bi bi-plus"
                           type="success"
                           (onClick)="add()"></dx-button>
            </div>
            <app-tab-view [items]="orderItemTypeTabs"
                          (onItemClick)="orderItemTypeTabChanged($event)">
                <dx-form #newOrderItemForm
                         [formData]="newOrderItem"
                         [colCount]="1"
                         [labelMode]="'static'">

                    <dxi-item itemType="group"
                              [colCount]="8"
                              cssClass="p-4 border border-top-0 shadow-sm bg-white">
                        <dxi-item dataField="containerType"
                                  [visible]="currentOrderItemType.id == 2"
                                  editorType="dxSelectBox"
                                  [editorOptions]="{ displayExpr: 'nameTr', dataSource : transportOrderItemContainerTypesService.store }">
                            <dxo-label [visible]="false"
                                       text="Konteyner Türü"></dxo-label>
                            <dxi-validation-rule type="custom"
                                                 [validationCallback]="validateTransportValue"
                                                 [message]="validationMessage"></dxi-validation-rule>
                        </dxi-item>
                        <dxi-item dataField="quantity"
                                  editorType="dxNumberBox"
                                  [editorOptions]="{ min : 1 }">
                            <dxo-label [visible]="false"
                                       text="Adet"></dxo-label>
                            <dxi-validation-rule type="custom"
                                                 [validationCallback]="validateTransportValue"
                                                 [message]="validationMessage"></dxi-validation-rule>
                            <dxi-validation-rule type="pattern"
                                                 pattern="[0-9]+"
                                                 message="Lütfen geçerli bir değer yazınız"></dxi-validation-rule>
                        </dxi-item>
                        <dxi-item dataField="weight"
                                  editorType="dxNumberBox"
                                  [editorOptions]="{ min : 1 }">
                            <dxo-label [visible]="false"
                                       [text]="currentOrderItemType.id == 2 ? 'Adet Tonaj (ton)' : 'Adet Ağırlık (kg)'"></dxo-label>
                            <dxi-validation-rule type="custom"
                                                 [validationCallback]="validateTransportValue"
                                                 [message]="validationMessage"></dxi-validation-rule>
                            <dxi-validation-rule type="pattern"
                                                 pattern="[0-9]+"
                                                 message="Lütfen geçerli bir değer yazınız"></dxi-validation-rule>
                        </dxi-item>
                        <dxi-item dataField="amount"
                                  [editorOptions]="{ disabled: true, value : getAmount }">
                            <dxo-label [visible]="false"
                                       text="Toplam Ağırlık"></dxo-label>
                        </dxi-item>
                        <dxi-item dataField="width"
                                  editorType="dxNumberBox"
                                  [editorOptions]="{ min : 1, value : currentOrderItemType.id == 1 ? 120 : null, disabled : currentOrderItemType.id == 1 }"
                                  [visible]="currentOrderItemType.id != 2"
                                  [disabled]="">
                            <dxo-label [visible]="false"
                                       text="En (cm)"></dxo-label>
                            <dxi-validation-rule type="custom"
                                                 [validationCallback]="validateTransportValue"
                                                 [message]="validationMessage"></dxi-validation-rule>
                            <dxi-validation-rule type="pattern"
                                                 pattern="[0-9]+"
                                                 message="Lütfen geçerli bir değer yazınız"></dxi-validation-rule>
                        </dxi-item>
                        <dxi-item dataField="length"
                                  editorType="dxNumberBox"
                                  [editorOptions]="{ min : 1, value : currentOrderItemType.id == 1 ? 80 : null, disabled : currentOrderItemType.id == 1 }"
                                  [visible]="currentOrderItemType.id != 2">
                            <dxo-label [visible]="false"
                                       text="Boy (cm)"></dxo-label>
                            <dxi-validation-rule type="custom"
                                                 [validationCallback]="validateTransportValue"
                                                 [message]="validationMessage"></dxi-validation-rule>
                            <dxi-validation-rule type="pattern"
                                                 pattern="[0-9]+"
                                                 message="Lütfen geçerli bir değer yazınız"></dxi-validation-rule>
                        </dxi-item>
                        <dxi-item dataField="height"
                                  editorType="dxNumberBox"
                                  [editorOptions]="{ min : 1 }"
                                  [visible]="currentOrderItemType.id != 2">
                            <dxo-label [visible]="false"
                                       text="Yükseklik (cm)"></dxo-label>
                            <dxi-validation-rule type="custom"
                                                 [validationCallback]="validateTransportValue"
                                                 [message]="validationMessage"></dxi-validation-rule>
                            <dxi-validation-rule type="pattern"
                                                 pattern="[0-9]+"
                                                 message="Lütfen geçerli bir değer yazınız"></dxi-validation-rule>
                        </dxi-item>
                        <dxi-item dataField="contents"
                                  [visible]="currentOrderItemType.id != 2"
                                  [editorOptions]="{ }">
                            <dxo-label [visible]="false"
                                       text="Kategori / İçerik"></dxo-label>
                            <dxi-validation-rule type="custom"
                                                 [validationCallback]="validateTransportValue"
                                                 [message]="validationMessage"></dxi-validation-rule>
                        </dxi-item>
                        <dxi-item dataField="products"
                                  editorType="dxNumberBox"
                                  [editorOptions]="{ min : 1 }"
                                  [visible]="currentOrderItemType.id == 0">
                            <dxo-label [visible]="false"
                                       text="Ürün Adedi"></dxo-label>
                            <dxi-validation-rule type="custom"
                                                 [validationCallback]="validateTransportValue"
                                                 [message]="validationMessage"></dxi-validation-rule>
                            <dxi-validation-rule type="pattern"
                                                 pattern="[0-9]+"
                                                 message="Lütfen geçerli bir değer yazınız"></dxi-validation-rule>
                        </dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group"
                              colCount="8">
                        <dxi-item itemType="group"
                                  [colSpan]="5"
                                  caption="Paket İşlemleri"
                                  [colCount]="1">
                            <dxi-item *ngFor="let feature of features">
                                <dxo-label [visible]="false"></dxo-label>
                                <div class="d-flex align-items-center gap-2 border rounded p-2"
                                     *dxTemplate>
                                    <dx-switch switchedOffText="Hayır"
                                               switchedOnText="Evet"
                                               width="60"
                                               (valueChange)="switchFeature(feature)"
                                               [value]="hasFeature(feature)"></dx-switch>
                                    <div class="flex-fill d-flex flex-column gap-3">
                                        <label (click)="switchFeature(feature)"
                                               style="cursor: pointer;">
                                            {{feature.nameTr}}
                                        </label>
                                        <div *ngIf="hasFeatureAttachment(feature)">
                                            <div [ngSwitch]="feature.type">
                                                <div *ngSwitchCase="1">
                                                    <div class="p-4 rounded-4 app-dropzone pdf-dropzone">
                                                        <div *ngIf="!feature.attachment">
                                                            Görsel Dosyası seçin ya da buraya sürükleyin
                                                        </div>
                                                        <div *ngIf="feature.attachment"
                                                             class="d-flex align-items-center gap-2">
                                                            <i class="bi bi-file-image"
                                                               style="font-size: 1.5rem;"></i>
                                                            <div class="flex-fill text-truncate overflow-hidden">
                                                                {{ feature.attachmentFileName }}
                                                            </div>
                                                            <i class="bi bi-check text-success"
                                                               style="font-size: 1.5rem;"></i>
                                                        </div>
                                                    </div>
                                                    <dx-file-uploader uploadMode="useButtons"
                                                                      [visible]="false"
                                                                      [multiple]="false"
                                                                      dialogTrigger=".pdf-dropzone"
                                                                      dropZone=".pdf-dropzone"
                                                                      [showFileList]="false"
                                                                      accept="image/*"
                                                                      (valueChange)="attachmentChanged($event, feature)"></dx-file-uploader>
                                                </div>
                                                <div *ngSwitchCase="2">
                                                    <div class="p-4 rounded-4 app-dropzone pdf-dropzone">
                                                        <div *ngIf="!feature.attachment">
                                                            PDF Dosyası seçin ya da buraya sürükleyin
                                                        </div>
                                                        <div *ngIf="feature.attachment"
                                                             class="d-flex align-items-center gap-2">
                                                            <i class="bi bi-filetype-pdf"
                                                               style="font-size: 1.5rem;"></i>
                                                            <div class="flex-fill text-truncate">
                                                                {{ feature.attachmentFileName }}
                                                            </div>
                                                            <i class="bi bi-check text-success"
                                                               style="font-size: 1.5rem;"></i>
                                                        </div>
                                                    </div>
                                                    <dx-file-uploader uploadMode="useButtons"
                                                                      [visible]="false"
                                                                      [multiple]="false"
                                                                      dialogTrigger=".pdf-dropzone"
                                                                      dropZone=".pdf-dropzone"
                                                                      [showFileList]="false"
                                                                      accept="application/pdf"
                                                                      (valueChange)="attachmentChanged($event, feature)"></dx-file-uploader>
                                                </div>
                                                <div *ngSwitchCase="3">
                                                    <dx-text-area [placeholder]="feature.attachmentDescriptionTr"
                                                                  (onValueChanged)="feature.attachment = $event.value"></dx-text-area>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <span *ngIf="feature.fee>0">${{feature.fee}}</span>
                                    </div>
                                    <dx-button icon="bi bi-info-circle text-primary"
                                               class="rounded rounded-circle flex-shrink-0"
                                               stylingMode="text"
                                               (onClick)="showFeatureDescriptionPopup(feature)"></dx-button>
                                </div>
                            </dxi-item>
                        </dxi-item>
                        <dxi-item itemType="group"
                                  [colSpan]="3"
                                  caption="Görsel"
                                  [colCount]="1">
                            <dxi-item dataField="image">
                                <dxo-label [visible]="false"></dxo-label>
                                <div class="d-flex flex-column align-items-center justify-content-center gap-2"
                                     *dxTemplate>
                                    <div class="d-flex align-items-center justify-content-center p-1 app-dropzone image-drop-zone p-4 rounded-4 overflow-hidden"
                                         style="width: 240px; height: 240px; cursor: pointer;">
                                        <img [attr.src]="!newOrderItem.image ? 'assets/images/no-image.png' : newOrderItem.image"
                                             class="img-fluid object-fit-cover" />
                                        <div *ngIf="!newOrderItem.image"
                                             class="position-absolute text-center"
                                             style="max-width: 240px;">Görsel dosyasını buraya sürükleyin ya da buraya tıklayın...
                                        </div>
                                    </div>
                                    <dx-file-uploader #fileUploader
                                                      dialogTrigger=".image-drop-zone"
                                                      dropZone=".image-drop-zone"
                                                      uploadMode="useButtons"
                                                      [visible]="false"
                                                      [multiple]="false"
                                                      accept="image/*"
                                                      (onDropZoneEnter)="imageDropzoneEnter($event)"
                                                      (onDropZoneLeave)="imageDropzoneLeave($event)"
                                                      (onValueChanged)="imageDropzoneValueChange($event)"></dx-file-uploader>
                                </div>
                            </dxi-item>
                        </dxi-item>
                    </dxi-item>
                </dx-form>
            </app-tab-view>
        </div>
        <div *ngSwitchCase="1">
            <app-section-header title="Lokasyon Bilgileri"></app-section-header>
            <dx-form [formData]="newOrder"
                     [colCount]="2"
                     [labelMode]="'static'">
                <dxi-item itemType="group"
                          caption="Nereden">
                    <dxi-item>
                        <dxo-label text="Bölge Adı"></dxo-label>
                        <div *dxTemplate>
                            <dx-select-box [items]="origins"
                                           displayExpr="nameTr"
                                           valueExpr="id"
                                           [disabled]="false"
                                           [showClearButton]="false"
                                           [selectedItem]="origins[0].id"
                                           [value]="newOrder.origin"></dx-select-box>
                        </div>
                    </dxi-item>
                </dxi-item>
                <dxi-item itemType="group"
                          caption="Nereye">
                    <dxi-item>
                        <dxo-label text="Bölge Adı"></dxo-label>
                        <div *dxTemplate>
                            <dx-select-box [items]="destinations"
                                           displayExpr="nameTr"
                                           valueExpr="id"
                                           [showClearButton]="true"
                                           [(value)]="newOrder.destination"
                                           (onValueChanged)="populateDistricts($event)"></dx-select-box>
                        </div>
                    </dxi-item>
                    <dxi-item *ngIf="newOrder.destination">
                        <dxo-label text="Bölge Adı"></dxo-label>
                        <div *dxTemplate>
                            <dx-select-box [items]="districts"
                                           displayExpr="nameTr"
                                           [showClearButton]="true"
                                           [(value)]="newOrder.district">
                                <div *dxTemplate="let data of 'item'">
                                    <div class="d-flex gap-2 px-2">
                                        <div class="flex-grow-1">{{data.nameTr}}</div>
                                        <div class="flex-shrink-0 text-center"
                                             [ngSwitch]="data.isAmazonDepot">
                                            <i *ngSwitchCase="false"
                                               class="bi bi-map"></i>
                                            <img *ngSwitchCase="true"
                                                 src="assets/images/amazon-icon.svg"
                                                 height="18" />
                                        </div>
                                    </div>
                                </div>
                            </dx-select-box>
                        </div>
                    </dxi-item>
                    <dxi-item itemType="group"
                              caption="Alıcı Adresi"
                              *ngIf="newOrder.district?.isAmazonDepot == false">
                        <dxi-item dataField="name">
                            <dxo-label text="Alıcı Adı / Ünvanı"></dxo-label>
                        </dxi-item>
                        <dxi-item dataField="phoneNumber"
                                  [editorOptions]="{ mask : '00(000)000 00 00'}">
                            <dxo-label text="İrtibat No."></dxo-label>
                        </dxi-item>
                        <dxi-item dataField="address"
                                  editorType="dxTextArea">
                            <dxo-label text="Adres"></dxo-label>
                        </dxi-item>
                    </dxi-item>
                </dxi-item>
            </dx-form>
        </div>
        <div *ngSwitchCase="2">
            <div class="d-flex flex-column align-items-center justify-content-center gap-2">
                <div class="card"
                     *ngFor="let offer of offers;let i = index"
                     style="width: 640px;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8 d-flex flex-column gap-2">
                                <div class="text-success fs-4"
                                     *ngIf="i == 0">
                                    EN UCUZ
                                </div>
                                <div class="fs-4">
                                    {{offer.methodNameTr}}
                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="flex-fill">
                                        <i class="bi bi-calendar"></i>
                                        Tahmini Varış Tarihi :
                                    </div>
                                    <div class="flex-shrink-0">
                                        {{offer.etaDate|date:'dd/MM/yyyy'}}
                                    </div>
                                </div>
                                <hr />
                                <div class="d-flex align-items-center"
                                     *ngFor="let feature of newOrder.features">
                                    <div class="flex-fill">
                                        <i class="bi bi-check"></i>
                                        {{feature.nameTr}}
                                    </div>
                                    <div class="flex-shrink-0">
                                        {{feature.fee|number}}
                                    </div>
                                </div>

                            </div>
                            <div class="col-4">
                                <div class="d-flex flex-column gap-2">
                                    <div class="fs-3">${{offer.price|number}}</div>
                                    <dx-button type="danger"
                                               text="Teklifi Seç"
                                               icon="bi bi-arrow-right"></dx-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-panel>


<dx-popup [(visible)]="featureDescriptionPopupVisible"
          title="Paket İşlemi Hakkında"
          [showTitle]="true"
          width="auto"
          height="auto"
          maxHeight="600"
          maxWidth="600"
          [closeOnOutsideClick]="true">
    <app-panel>
        <p class="fs-4"> {{currentFeature?.nameTr}}</p>
        <div [innerHTML]="currentFeature?.descriptionTr"></div>
    </app-panel>
</dx-popup>

<pre>
    {{newOrder|json}}
</pre>
