<app-page-header title="Yeni Yük"></app-page-header>
<app-panel class="mb-4">
    <dx-data-grid [showBorders]="true"
                  [showRowLines]="true"
                  [rowAlternationEnabled]="true"
                  [dataSource]="items"
                  noDataText="Aşağıdaki formu kullanarak yüklerinizi ekleyiniz..."
                  class="shadow-sm">
        <dxo-editing [allowDeleting]="true"
                     [useIcons]="true"></dxo-editing>
        <dxo-master-detail [enabled]="true"
                           template="detailTemplate"></dxo-master-detail>
        <dxi-column dataField="image"
                    caption="Görsel"
                    cellTemplate="imageCellTemplate"></dxi-column>
        <dxi-column dataField="quantity"
                    caption="Adet"></dxi-column>
        <dxi-column dataField="weight"
                    caption="Ağırlık"></dxi-column>
        <dxi-column dataField="amount"
                    caption="Toplam Ağırlık"></dxi-column>
        <dxi-column dataField="width"
                    caption="En (cm)"></dxi-column>
        <dxi-column dataField="length"
                    caption="Boy (cm)"></dxi-column>
        <dxi-column dataField="height"
                    caption="Yükseklik (cm)"></dxi-column>
        <dxi-column dataField="contents"
                    caption="Kategori / İçerik"></dxi-column>
        <dxi-column dataField="products"
                    caption="Ürün Adedi"></dxi-column>
        <div *dxTemplate="let row of 'imageCellTemplate'">
            <img [attr.src]="row.data.image"
                 class="object-fit-contain"
                 height="60"
                 width="60" />
        </div>
        <div *dxTemplate="let cellInfo of 'detailTemplate'">
            <div class="card">
                <div class="card-header">Seçilen İşlemler</div>
                <div class="card-body">
                    <ul class="list-unstyled">
                        <li *ngFor="let feature of cellInfo.data.features" class="d-flex gap-2">
                            <i class="bi bi-check text-success"></i>
                            <div class="flex-fill">{{feature.nameTr}}</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </dx-data-grid>
</app-panel>
<div class="card shadow-sm">
    <div class="card-body">
        <div class="d-flex">
            <dx-tabs [dataSource]="orderItemTypeTabs"
                     width="auto"
                     width="400"
                     iconPosition="top"
                     [selectedIndex]="0"
                     iconPosition="top"
                     (onItemClick)="orderItemTypeTabChanged($event)">
            </dx-tabs>
            <div class="flex-fill border-bottom">&nbsp;</div>
        </div>
        <dx-form #newOrderItemForm
                 [formData]="newOrderItem"
                 [colCount]="1"
                 [labelMode]="'static'">
            <dxi-item itemType="group"
                      [colCount]="8"
                      cssClass="p-4 border border-top-0 shadow-sm">
                <dxi-item dataField="quantity"
                          editorType="dxNumberBox">
                    <dxo-label [visible]="false"
                               text="Adet"></dxo-label>
                    <dxi-validation-rule type="custom"
                                         [validationCallback]="validateTransportValue"
                                         [message]="validationMessage"></dxi-validation-rule>
                    <dxi-validation-rule type="pattern"
                                         pattern="[0-9]+"
                                         message="Lütfen geçerli bir değer yazınız"></dxi-validation-rule>
                </dxi-item>
                <dxi-item dataField="weight"
                          editorType="dxNumberBox">
                    <dxo-label [visible]="false"
                               text="Ağırlık"></dxo-label>
                    <dxi-validation-rule type="custom"
                                         [validationCallback]="validateTransportValue"
                                         [message]="validationMessage"></dxi-validation-rule>
                    <dxi-validation-rule type="pattern"
                                         pattern="[0-9]+"
                                         message="Lütfen geçerli bir değer yazınız"></dxi-validation-rule>
                </dxi-item>
                <dxi-item dataField="amount"
                          [editorOptions]="{ disabled: true, value : getAmount }">
                    <dxo-label [visible]="false"
                               text="Toplam Ağırlık"></dxo-label>
                </dxi-item>
                <dxi-item dataField="width"
                          editorType="dxNumberBox"
                          [visible]="currentOrderItemType.id != 2">
                    <dxo-label [visible]="false"
                               text="En (cm)"></dxo-label>
                    <dxi-validation-rule type="custom"
                                         [validationCallback]="validateTransportValue"
                                         [message]="validationMessage"></dxi-validation-rule>
                    <dxi-validation-rule type="pattern"
                                         pattern="[0-9]+"
                                         message="Lütfen geçerli bir değer yazınız"></dxi-validation-rule>
                </dxi-item>
                <dxi-item dataField="length"
                          editorType="dxNumberBox"
                          [visible]="currentOrderItemType.id != 2">
                    <dxo-label [visible]="false"
                               text="Boy (cm)"></dxo-label>
                    <dxi-validation-rule type="custom"
                                         [validationCallback]="validateTransportValue"
                                         [message]="validationMessage"></dxi-validation-rule>
                    <dxi-validation-rule type="pattern"
                                         pattern="[0-9]+"
                                         message="Lütfen geçerli bir değer yazınız"></dxi-validation-rule>
                </dxi-item>
                <dxi-item dataField="height"
                          editorType="dxNumberBox"
                          [visible]="currentOrderItemType.id != 2">
                    <dxo-label [visible]="false"
                               text="Yükseklik (cm)"></dxo-label>
                    <dxi-validation-rule type="custom"
                                         [validationCallback]="validateTransportValue"
                                         [message]="validationMessage"></dxi-validation-rule>
                    <dxi-validation-rule type="pattern"
                                         pattern="[0-9]+"
                                         message="Lütfen geçerli bir değer yazınız"></dxi-validation-rule>
                </dxi-item>
                <dxi-item dataField="contents"
                          [visible]="currentOrderItemType.id != 2">
                    <dxo-label [visible]="false"
                               text="Kategori / İçerik"></dxo-label>
                    <dxi-validation-rule type="custom"
                                         [validationCallback]="validateTransportValue"
                                         [message]="validationMessage"></dxi-validation-rule>
                </dxi-item>
                <dxi-item dataField="products"
                          editorType="dxNumberBox"
                          [visible]="currentOrderItemType.id == 0">
                    <dxo-label [visible]="false"
                               text="Ürün Adedi"></dxo-label>
                    <dxi-validation-rule type="custom"
                                         [validationCallback]="validateTransportValue"
                                         [message]="validationMessage"></dxi-validation-rule>
                    <dxi-validation-rule type="pattern"
                                         pattern="[0-9]+"
                                         message="Lütfen geçerli bir değer yazınız"></dxi-validation-rule>
                </dxi-item>
            </dxi-item>
            <dxi-item itemType="group"
                      colCount="8">
                <dxi-item itemType="group"
                          colSpan="6"
                          caption="Paket İşlemleri"
                          [colCount]="2">
                    <dxi-item *ngFor="let feature of features">
                        <dxo-label [visible]="false"></dxo-label>
                        <div class="d-flex align-items-center gap-2"
                             *dxTemplate>
                            <dx-switch switchedOffText="Hayır"
                                       switchedOnText="Evet"
                                       (valueChange)="switchFeature(feature)"
                                       [value]="hasFeature(feature)"></dx-switch>
                            <div class="">
                                {{feature.nameTr}}
                            </div>
                            <div>
                                <dx-button icon="bi bi-info-circle text-primary"
                                           class="rounded rounded-circle"
                                           stylingMode="text"
                                           (onClick)="showFeatureDescriptionPopup(feature)"></dx-button>
                            </div>
                        </div>
                    </dxi-item>
                </dxi-item>
                <dxi-item itemType="group"
                          [colSpan]="2"
                          caption="Görsel"
                          [colCount]="1">
                    <dxi-item dataField="image">
                        <dxo-label [visible]="false"></dxo-label>
                        <div class="d-flex flex-column align-items-center justify-content-center gap-2"
                             *dxTemplate>
                            <div class="border rounded d-flex align-items-center justify-content-center p-1 bg-white image-drop-zone overflow-hidden"
                                 [ngClass]="{ 'border-primary'  : dropZoneEnter }"
                                 style="width: 240px; height: 240px;">
                                <img [attr.src]="!newOrderItem.image ? 'assets/images/no-image.png' : newOrderItem.image"
                                     class="img-fluid object-fit-cover" />
                                <div *ngIf="!newOrderItem.image"
                                     class="position-absolute text-center"
                                     style="max-width: 240px;">Görsel dosyasını buraya sürükleyin ya da buraya tıklayın...
                                </div>
                            </div>
                            <dx-file-uploader #fileUploader
                                              dialogTrigger=".image-drop-zone"
                                              dropZone=".image-drop-zone"
                                              uploadMode="useButtons"
                                              [visible]="false"
                                              [multiple]="false"
                                              accept="image/*"
                                              [allowedFileExtensions]="['.jpg', '.jpeg', '.gif', '.png']"
                                              (onDropZoneEnter)="imageDropzoneEnter($event)"
                                              (onDropZoneLeave)="imageDropzoneLeave($event)"
                                              (onValueChanged)="imageDropzoneValueChange($event)"></dx-file-uploader>
                        </div>
                    </dxi-item>
                </dxi-item>
            </dxi-item>
            <dxi-item itemType="group">
                <div *dxTemplate
                     class="d-flex justify-content-end py-4">
                    <dx-button text="Ekle"
                               icon="bi bi-plus"
                               type="success"
                               (onClick)="add()"></dx-button>
                </div>
            </dxi-item>
        </dx-form>
    </div>
</div>
<dx-popup [(visible)]="featureDescriptionPopupVisible"
          title="Paket İşlemi Hakkında"
          [showTitle]="true"
          width="auto"
          height="auto"
          maxHeight="600"
          maxWidth="600"
          [closeOnOutsideClick]="true">
    <app-panel>
        <p class="fs-4"> {{currentFeature?.nameTr}}</p>
        <div [innerHTML]="currentFeature?.descriptionTr"></div>
    </app-panel>
</dx-popup>
