<app-page-header title="Dashboard"></app-page-header>
<app-panel>
    <div class="row row-cols-1 row-cols-md-6 mb-4">
        <div class="col">
            <app-info-card icon="bi bi-people"
                           title="Üye Adedi"
                           [value]="stats.users"
                           color="text-bg-primary"></app-info-card>
        </div>
        <div class="col">
            <app-info-card icon="bi bi-star"
                           title="Yeni Teklif"
                           [value]="stats.orders"
                           color="text-bg-success"></app-info-card>
        </div>
        <div class="col">
            <app-info-card icon="bi bi-truck"
                           title="Çıkış Yapılanlar"
                           [value]="stats.deliveredOrders"
                           color="text-bg-info"></app-info-card>
        </div>
        <div class="col">
            <app-info-card icon="bi bi-x"
                           title="İptal Edilenler"
                           [value]="stats.cancelledOrders"
                           color="text-bg-warning"></app-info-card>
        </div>
        <div class="col">
            <app-info-card icon="bi bi-currency-dollar"
                           title="Bekleyen Teklif Tutarı"
                           [value]="stats.totalNewOrderAmount"
                           color="text-bg-danger"></app-info-card>
        </div>
        <div class="col">
            <app-info-card icon="bi bi-check"
                           title="Tamamlanan Teklif"
                           [value]="stats.totalOrderAmount"
                           color="text-bg-secondary"></app-info-card>
        </div>

    </div>

    <div class="row">
        <div class="col col-7">
            <div class="card bg-white">
                <div class="card-body">
                    <dx-chart palette="yellow"
                              [dataSource]="stats.chartData"
                              title="Aylara Göre Teklifler (2023)">
                        <dxi-series valueField="total"
                                    name="Gerçekleşen Tutar"></dxi-series>
                        <dxi-series valueField="amount"
                                    name="Teklif Tutarı"></dxi-series>
                        <dxo-common-series-settings argumentField="month"
                                                    type="spline">
                        </dxo-common-series-settings>
                        <dxo-margin [bottom]="20"></dxo-margin>
                        <dxo-common-axis-settings>
                            <dxo-grid [visible]="true"></dxo-grid>
                        </dxo-common-axis-settings>
                        <dxo-legend></dxo-legend>
                        <dxo-argument-axis [allowDecimals]="false"
                                           [axisDivisionFactor]="60">
                            <dxo-label>
                                <dxo-format type="decimal"></dxo-format>
                            </dxo-label>
                        </dxo-argument-axis>
                        <dxo-tooltip [enabled]="true"></dxo-tooltip>
                    </dx-chart>
                </div>
            </div>
        </div>
        <div class="col col-5">
            <div class="card">
                <div class="card-body small">
                    <div class="d-flex align-items-center">
                        <div>&nbsp;</div>
                        <div class="text-center fs-4 flex-fill">Yeni Teklifler</div>
                        <div>
                            <a routerLink="">Tümü</a>
                        </div>
                    </div>

                    <table class="table table-sm table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Üye Adı</th>
                                <th>Tarih</th>
                                <th>Nereden</th>
                                <th>Nereye</th>
                                <th>Tutar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of stats.lastOrders">
                                <td>
                                    <img [src]="'https://api.dicebear.com/7.x/bottts/svg?seed='+item.userGivenName" width="24" height="24" />
                                </td>
                                <td>{{item.userGivenName}}</td>
                                <td>{{item.date|date}}</td>
                                <td>{{item.origin}}</td>
                                <td>{{item.destination}}</td>
                                <td class="text-end text-monospace">{{item.amount|currency}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</app-panel>
