<div class="row row-cols-1 row-cols-md-4">
    <div class="col">
        <app-info-card icon="bi bi-people"
                       title="Üye Adedi"
                       value="65.535"
                       color="text-bg-primary"></app-info-card>
    </div>
    <div class="col">
        <app-info-card icon="bi bi-star"
                       title="Yeni Teklif"
                       value="98"
                       color="text-bg-success"></app-info-card>
    </div>
    <div class="col">
        <app-info-card icon="bi bi-currency-dollar"
                       title="Bekleyen Teklif Tutarı"
                       value="$7.220"
                       color="text-bg-danger"></app-info-card>
    </div>
    <div class="col">
        <app-info-card icon="bi bi-check2-square"
                       title="Tamamlanan Teklif"
                       value="7.781"
                       color="text-bg-secondary"></app-info-card>
    </div>

</div>
