<div class="row h-100">
    <div class="d-flex h-100">
        <div class="text-bg-light d-flex flex-column">
            <div class="p-2 fs-4">Menu</div>
            <hr />
            <ul class="nav flex-column nav-pills">
                <li class="nav-item">
                    <a class="nav-link"
                       href="#">
                        <i class="bi bi-plus-circle me-2"></i>
                        Teklif Al
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="#">
                        <i class="bi bi-boxes me-2"></i>
                        Sevkiyatlarım
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="#">
                        <i class="bi bi-credit-card me-2"></i>
                        Ödemelerim
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="#">
                        <i class="bi bi-mortarboard me-2"></i>
                        Shipbu Akademi
                    </a>
                </li>
                
            </ul>
        </div>
        <div class="flex-fill">
            <router-outlet></router-outlet>

        </div>
    </div>
</div>
