@font-face {
  font-family: "shipbu";
  src: url("fonts/shipbu.eot?yc3tq6");
  src: url("fonts/shipbu.eot?yc3tq6#iefix") format("embedded-opentype"),
    url("fonts/shipbu.ttf?yc3tq6") format("truetype"),
    url("fonts/shipbu.woff?yc3tq6") format("woff"),
    url("fonts/shipbu.svg?yc3tq6#shipbu") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "shipbu" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.si {
  &.si-si-container:before {
    content: "\e900";
  }
  &.si-si-box:before {
    content: "\e901";
  }
  &.si-si-pallet:before {
    content: "\e902";
  }
}
