<app-page-header title="Sevkiyatlar"></app-page-header>
<app-panel>
    <dx-data-grid #mainGrid
                  keyExpr="id"
                  [dataSource]="transportOrdersService.store"
                  [rowAlternationEnabled]="true">
        <dxo-sorting></dxo-sorting>
        <dxo-search-panel [visible]="true"></dxo-search-panel>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-paging [enabled]="true"
                    [pageSize]="10"></dxo-paging>
        <dxi-column caption="Üye"
                    dataField="userGivenName"
                    cellTemplate="userCellTemplate"></dxi-column>
        <dxi-column caption="Sevkiyat No."
                    dataField="shippingNumber"></dxi-column>
        <dxi-column caption="Talep Tarihi"
                    dataField="date"
                    width="96"
                    dataType="date"></dxi-column>
        <dxi-column caption="Gönderici Ülke"
                    dataField="originNameTr"></dxi-column>
        <dxi-column caption="Alıcı"
                    dataField="destinationDistrictNameTr"
                    cellTemplate="districtCellTemplate"></dxi-column>
        <dxi-column caption="Fiyat"
                    dataField="price"
                    width="96"
                    format="currency"></dxi-column>
        <dxi-column caption="Takip No."
                    dataField="trackingNumber"></dxi-column>
        <dxi-column caption="Statü"
                    dataField="status"
                    cellTemplate="statusCellTemplate"></dxi-column>
        <dxi-column caption="İşlem"
                    cellTemplate="actionCellTemplate"></dxi-column>
        <div *dxTemplate="let row of 'detailCellTemplate'">
            <dx-button icon="bi bi-search"
                       stylingMode="text"></dx-button>
        </div>
        <div *dxTemplate="let row of 'districtCellTemplate'">
            <div>{{row.data.destinationRegionNameTr}}</div>
            <div *ngIf="row.data.isAmazonDepot">
                {{row.data.destinationDistrictNameTr}}
            </div>
            <div *ngIf="!row.data.isAmazonDepot">
                {{row.data.name}}
            </div>
        </div>
        <div *dxTemplate="let row of 'userCellTemplate'">
            <div class="d-flex flex-column gap-2">
                <div class="">{{row.data.userGivenName}}</div>
                <div class="small">
                    <a [attr.href]="'mailto:'+row.data.userName">{{row.data.userName}}</a>
                </div>
            </div>
        </div>
        <div *dxTemplate="let row of 'statusCellTemplate'">
            <app-status-view [status]="row.data.status"></app-status-view>
        </div>
        <div *dxTemplate="let row of 'actionCellTemplate'">
            <dx-drop-down-button [items]="actions"
                                 keyExpr="id"
                                 displayExpr="name"
                                 width="100%"
                                 text="İşlemler"
                                 (onItemClick)="actionChanged($event,row.data)"></dx-drop-down-button>
        </div>
    </dx-data-grid>
</app-panel>

<dx-popup [(visible)]="status1PopupVisible"
          title="Teklif Fiyat Güncelleme"
          width="400"
          height="200">
    <dx-form [formData]="status1FormData"
             labelLocation="top">
        <dxi-item dataField="newPrice">
            <dxo-label text="Yeni Fiyat"></dxo-label>
        </dxi-item>
        <dxi-item class="d-flex justify-content-end gap-2">
            <dx-button text="İptal"
                       (onClick)="status1PopupVisible = false"></dx-button>
            <dx-button text="Kaydet"
                       type="success"
                       (onClick)="updateorderprice()"></dx-button>
        </dxi-item>
    </dx-form>
</dx-popup>
<dx-popup [(visible)]="status3PopupVisible"
          title="Sevkiyat Yükleme"
          width="400"
          height="400">
    <dx-form [formData]="status3FormData"
             labelLocation="top">
        <dxi-item dataField="shippingNumber">
            <dxo-label text="Sevkiyat No."></dxo-label>
        </dxi-item>
        <dxi-item itemType="group">
            <dxi-item dataField="trackingNumber"
                      [visible]="trackingNumberVisible">
                <dxo-label text="Takip No."></dxo-label>
            </dxi-item><dxi-item dataField="trackingNumber"
                      disabled="true"
                      [visible]="!trackingNumberVisible">
                <dxo-label text="Takip No."></dxo-label>
            </dxi-item>
            <dxi-item dataField="ship"
                      editorType="dxCheckBox"
                      [editorOptions]="shipEditorOptions">
                <dxo-label text="Taşıma Şekli"></dxo-label>
            </dxi-item>
        </dxi-item>
        <dxi-item itemType="group"
                  class="d-flex justify-content-end gap-2">
            <dx-button text="İptal"
                       (onClick)="status1PopupVisible = false"></dx-button>
            <dx-button text="Kaydet"
                       type="success"
                       (onClick)="updateordershipping()"></dx-button>
        </dxi-item>
    </dx-form>
</dx-popup>
<dx-popup [(visible)]="detailPopupVisible"
          [fullScreen]="true"
          title="Sevkiyat Detayı">
    <app-panel *ngIf="currentOrder">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        <i class="bi bi-calendar"></i>
                        Tarih
                    </th>
                    <th>
                        <i class="bi bi-person"></i>
                        Kullanıcı
                    </th>
                    <th>
                        <i class="bi bi-geo-alt"></i>
                        Nereden
                    </th>
                    <th>
                        <i class="bi bi-geo-alt"></i>
                        Nereye
                    </th>
                    <th>Fiyat</th>
                    <th>Durum</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {{currentOrder.date|date:'dd.MM.yyyy'}}
                    </td>
                    <td>
                        <div>
                            {{currentOrder.userGivenName}}
                        </div>
                        <div>
                            {{currentOrder.userName}}
                        </div>
                    </td>
                    <td>
                        <div>
                            {{currentOrder.originNameTr}}
                        </div>
                    </td>
                    <td>
                        <div class="d-flex flex-column gap-2">
                            <div>
                                {{currentOrder.destinationRegionNameTr}}
                            </div>
                            <div *ngIf="currentOrder.isAmazonDepot"
                                 class="d-flex align-items-center gap-2">
                                <img src="assets/images/amazon-icon.svg"
                                     height="16">
                                <div>{{currentOrder.destinationDistrictNameTr}}</div>
                            </div>
                            <div *ngIf="!currentOrder.isAmazonDepot"
                                 class="d-flex flex-column gap-2">
                                <div>Alıcı Ad: {{currentOrder.name}}</div>
                                <div>Alıcı Tel: {{currentOrder.phoneNumber}}</div>
                                <div>Alıcı Adres : {{currentOrder.address}}</div>
                            </div>
                        </div>




                    </td>
                    <td>
                        {{currentOrder.price|currency}}
                    </td>
                    <td>
                        <app-status-view [status]="currentOrder.status"></app-status-view>
                    </td>
                </tr>
                <tr>
                    <th>
                        Sevkiyat No:
                    </th>
                    <th>
                        Takip No:
                    </th>
                    <th>
                        Gönderim Türü:
                    </th>
                    <th>
                        Birim Fiyat:
                    </th>
                    <th>
                        Tahmini Varış Süresi:
                    </th>

                </tr>
                <tr>
                    <td>{{currentOrder.shippingNumber}}</td>
                    <td>{{currentOrder.trackingNumber}}</td>
                    <td>{{currentOrder.transportMethod}}</td>
                    <td>{{currentOrder.transportFee|currency}}</td>
                    <td>{{currentOrder.transportETA}}</td>
                </tr>
            </tbody>

        </table>
        <h4>Koli</h4>
        <table class="table table-bordered table-striped">
            <colgroup>
                <col width="96" />
                <col />
                <col />
                <col />
                <col />
                <col />
                <col />
                <col />
                <col />
                <col width="33%" />
            </colgroup>
            <thead>
                <tr>
                    <th>Foto:</th>
                    <th>Adet</th>
                    <th>Ağırlık</th>
                    <th>Toplam Ağırlık</th>
                    <th>En</th>
                    <th>Boy</th>
                    <th>Yükseklik</th>
                    <th>İçerik</th>
                    <th>Ürün Adedi</th>
                    <th>Paket İşlemleri</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of currentOrder.transportOrderItemsPackage">
                    <td>
                        <img [src]="item.image"
                             class="object-fit-contain"
                             height="80"
                             style="cursor: pointer;"
                             (click)="currentImage = item.image; imagePopupVisible = true;" />
                    </td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.weight}}</td>
                    <td>{{item.quantity * item.weight}}</td>
                    <td>{{item.width}}</td>
                    <td>{{item.length}}</td>
                    <td>{{item.height}}</td>
                    <td>{{item.content}}</td>
                    <td>{{item.products}}</td>
                    <td>
                        <table class="table"
                               *ngIf="item.transportOrderItemFeatures.length > 0">
                            <thead>
                                <tr>
                                    <th>İşlem Adı</th>
                                    <th>Fiyatı</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let feature of item.transportOrderItemFeatures">
                                    <td>
                                        {{feature.nameTr}}
                                    </td>
                                    <td>
                                        {{feature.fee|currency}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr />
        <h4>Palet</h4>
        <table class="table table-bordered table-striped">
            <colgroup>
                <col width="96" />
                <col />
                <col />
                <col />
                <col />
                <col />
                <col />
                <col />
                <col width="33%" />
            </colgroup>
            <thead>
                <tr>
                    <th>Foto:</th>
                    <th>Adet</th>
                    <th>Ağırlık</th>
                    <th>Toplam Ağırlık</th>
                    <th>En</th>
                    <th>Boy</th>
                    <th>Yükseklik</th>
                    <th>İçerik</th>
                    <th>Paket İşlemleri</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of currentOrder.transportOrderItemsPallet">
                    <td>
                        <img [src]="item.image"
                             class="object-fit-contain"
                             height="80"
                             style="cursor: pointer;"
                             (click)="currentImage = item.image; imagePopupVisible = true;" />
                    </td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.weight}}</td>
                    <td>{{item.quantity * item.weight}}</td>
                    <td>{{item.width}}</td>
                    <td>{{item.length}}</td>
                    <td>{{item.height}}</td>
                    <td>{{item.content}}</td>
                    <td>
                        <table class="table"
                               *ngIf="item.transportOrderItemFeatures.length > 0">
                            <thead>
                                <tr>
                                    <th>İşlem Adı</th>
                                    <th>Fiyatı</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let feature of item.transportOrderItemFeatures">
                                    <td>
                                        {{feature.nameTr}}
                                    </td>
                                    <td>
                                        {{feature.fee|currency}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr />
        <h4>Konteyner</h4>
        <table class="table table-bordered table-striped">
            <colgroup>
                <col width="96" />
                <col />
                <col />
                <col />
                <col />
                <col width="33%" />
            </colgroup>
            <thead>
                <tr>
                    <th>Foto:</th>
                    <th>Konteyner Tipi</th>
                    <th>Adet</th>
                    <th>Ağırlık</th>
                    <th>Toplam Ağırlık</th>
                    <th>Paket İşlemleri</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of currentOrder.transportOrderItemsContainer">
                    <td>
                        <img [src]="item.image"
                             class="object-fit-contain"
                             height="80"
                             style="cursor: pointer;"
                             (click)="currentImage = item.image; imagePopupVisible = true;" />
                    </td>
                    <td>{{item.transportOrderItemContainerType.nameTr}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.weight}}</td>
                    <td>{{item.quantity * item.weight}}</td>
                    <td>
                        <table class="table"
                               *ngIf="item.transportOrderItemFeatures.length > 0">
                            <thead>
                                <tr>
                                    <th>İşlem Adı</th>
                                    <th>Fiyatı</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let feature of item.transportOrderItemFeatures">
                                    <td>
                                        {{feature.nameTr}}
                                    </td>
                                    <td>
                                        {{feature.fee|currency}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>

    </app-panel>
</dx-popup>

<dx-popup [(visible)]="imagePopupVisible"
          width="800"
          height="600">
    <div class="d-flex justify-content-center align-items-center h-100"
         *ngIf="currentImage">
        <img [src]="currentImage"
             class="img-fluid" />
    </div>
</dx-popup>
