<app-page-header title="Sevkiyatlar"></app-page-header>
<app-panel>
    <dx-data-grid #mainGrid
                  keyExpr="id"
                  [dataSource]="transportOrdersService.store"
                  [rowAlternationEnabled]="true">
        <dxo-sorting></dxo-sorting>
        <dxo-search-panel [visible]="true"></dxo-search-panel>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-paging [enabled]="true"
                    [pageSize]="10"></dxo-paging>
        <dxi-column caption="İncele"
                    dataField="id"
                    cellTemplate="detailCellTemplate"></dxi-column>
        <dxi-column caption="Üye"
                    dataField="userGivenName"
                    cellTemplate="userCellTemplate"></dxi-column>
        <dxi-column caption="Sevkiyat No."
                    dataField="shippingNumber"></dxi-column>
        <dxi-column caption="Talep Tarihi"
                    dataField="date"
                    dataType="date"></dxi-column>
        <dxi-column caption="Gönderici Ülke"
                    dataField="originNameTr"></dxi-column>
        <dxi-column caption="Varış Ülkesi"
                    dataField="destinationRegionNameTr"></dxi-column>
        <dxi-column caption="Alıcı"
                    dataField="destinationDistrictNameTr"
                    cellTemplate="districtCellTemplate"></dxi-column>
        <dxi-column caption="Fiyat"
                    dataField="price"
                    format="currency"></dxi-column>
        <dxi-column caption="Takip No."
                    dataField="trackingNumber"></dxi-column>
        <dxi-column caption="Statü"
                    dataField="status"
                    cellTemplate="statusCellTemplate"></dxi-column>
        <dxi-column caption="İşlem"
                    cellTemplate="actionCellTemplate"></dxi-column>
        <div *dxTemplate="let row of 'detailCellTemplate'">
            <dx-button icon="bi bi-search" stylingMode="text"></dx-button>
        </div>
        <div *dxTemplate="let row of 'districtCellTemplate'">
            <div *ngIf="row.data.isAmazonDepot">
                {{row.data.destinationDistrictNameTr}}
            </div>
            <div *ngIf="!row.data.isAmazonDepot">
                {{row.data.name}}
            </div>
        </div>
        <div *dxTemplate="let row of 'userCellTemplate'">
            <div class="d-flex flex-column gap-2">
                <div class="">{{row.data.userGivenName}}</div>
                <div class="small">
                    <a [attr.href]="'mailto:'+row.data.userName">{{row.data.userName}}</a>
                </div>
            </div>
        </div>
        <div *dxTemplate="let row of 'statusCellTemplate'">
            <div [ngSwitch]="row.data.status">
                <div *ngSwitchCase="0">Teklif Verildi</div>
                <div *ngSwitchCase="1">Ödeme Bekleniyor</div>
                <div *ngSwitchCase="2">Ödeme Yapıldı</div>
                <div *ngSwitchCase="3">Çıkış Yapıldı</div>
                <div *ngSwitchCase="4">Teslim Edildi</div>
            </div>
        </div>
        <div *dxTemplate="let row of 'actionCellTemplate'">
            <div [ngSwitch]="row.data.status"
                 class="text-center">
                <div *ngSwitchCase="0">
                    <dx-button text="Güncelle"
                               (onClick)="status1FormData.id = row.data.id;status1FormData.newPrice = row.data.price; status1PopupVisible = true"></dx-button>
                </div>
                <div *ngSwitchCase="1">
                    <dx-button text="Ödeme Geldi"
                               (onClick)="paymentorder(row.data.id)"></dx-button>
                </div>
                <div *ngSwitchCase="2">
                    <dx-button text="Çıkış Yapıldı"
                               (onClick)="shiporder(row.data.id)"></dx-button>
                </div>
                <div *ngSwitchCase="3">
                    <dx-button text="Teslim Edildi"
                               (onClick)="deliveredorder(row.data.id)"></dx-button>
                </div>
                <div *ngSwitchCase="4"></div>
            </div>
        </div>

    </dx-data-grid>
</app-panel>

<dx-popup [(visible)]="status1PopupVisible"
          title="Teklif Fiyat Güncelleme"
          width="400"
          height="200">
    <dx-form [formData]="status1FormData"
             labelLocation="top">
        <dxi-item dataField="newPrice">
            <dxo-label text="Yeni Fiyat"></dxo-label>
        </dxi-item>
        <dxi-item class="d-flex justify-content-end gap-2">
            <dx-button text="İptal"
                       (onClick)="status1PopupVisible = false"></dx-button>
            <dx-button text="Kaydet"
                       type="success"
                       (onClick)="updateorderprice()"></dx-button>
        </dxi-item>
    </dx-form>
</dx-popup>
