<div class="container py-4">
    <div class="mb-4">
        <div class="h2">
            Parola Yenileme
        </div>
    </div>
    <hr />
    <div class="p-4 bg-light"
         *ngIf="!tokenMode">
        <form (ngSubmit)="request()"
              #form="ngForm">
            <div class="d-flex flex-column gap-4">
                <div>
                    <i class="bi bi-lock"
                       style="font-size: 4rem;"></i>
                </div>
                <div>
                    <div class="col col-lg-6 form-floating">
                        <input type="email"
                               id="userName"
                               class="form-control"
                               required
                               [(ngModel)]="formData.userName"
                               name="userName"
                               #userName="ngModel"
                               placeholder=""
                               autocomplete="new-password" />
                        <label class="form-label"
                               for="userName">E-Posta</label>
                    </div>
                    <div *ngIf="userName.invalid && (userName.dirty || userName.touched)"
                         class="text-danger">
                        <div *ngIf="userName.errors?.['required']">E-Posta alanı boş bırakılamaz</div>
                    </div>
                </div>
                <div>
                    <button type="submit"
                            [disabled]="form.invalid"
                            class="btn btn-primary">
                        <i class="bi bi-send"></i>
                        Gönder
                    </button>
                </div>
                <div *ngIf="form.invalid">
                    <div class="text-danger">
                        * Lütfen tüm alanları doldurunuz!
                    </div>
                </div>
                <div class="d-flex align-items-center gap-2">
                    <a class="btn btn-outline-secondary"
                       [routerLink]="['','main','signin']">
                        <i class="bi bi-key"></i> Kullanıcı Girişi
                    </a>
                    <a class="btn btn-outline-secondary"
                       [routerLink]="['','main','register']">
                        <i class="bi bi-person-add"></i> Yeni Üyelik
                    </a>
                </div>
            </div>
        </form>
    </div>
    <div class="p-4 bg-light"
         *ngIf="tokenMode">
        <form (ngSubmit)="resetPassword()"
              #formToken="ngForm">
            <div class="d-flex flex-column gap-4">
                <div>
                    <i class="bi bi-lock"
                       style="font-size: 4rem;"></i>
                </div>
                <div>
                    <div class="col col-lg-6 form-floating">
                        <input type="text"
                               id="token"
                               class="form-control"
                               required
                               [(ngModel)]="formDataToken.token"
                               name="token"
                               #token="ngModel"
                               placeholder=""
                               autocomplete="new-password" />
                        <label class="form-label"
                               for="token">Kod</label>
                    </div>
                    <div *ngIf="token.invalid && (token.dirty || token.touched)"
                         class="text-danger">
                        <div *ngIf="token.errors?.['required']">Kod alanı boş bırakılamaz</div>
                    </div>
                </div>
                <div>
                    <div class="col col-lg-6 form-floating">
                        <input type="password"
                               id="password"
                               class="form-control"
                               required
                               [(ngModel)]="formDataToken.password"
                               name="password"
                               #password="ngModel"
                               placeholder=""
                               autocomplete="new-password" />
                        <label class="form-label"
                               for="password">Parola</label>
                    </div>
                    <div *ngIf="password.invalid && (password.dirty || password.touched)"
                         class="text-danger">
                        <div *ngIf="password.errors?.['required']">Parola alanı boş bırakılamaz</div>
                    </div>
                </div>
                <div>
                    <div class="col col-lg-6 form-floating">
                        <input type="password"
                               id="passwordCheck"
                               class="form-control"
                               required
                               [(ngModel)]="formDataToken.passwordCheck"
                               name="passwordCheck"
                               #passwordCheck="ngModel"
                               placeholder=""
                               autocomplete="new-passwordCheck" />
                        <label class="form-label"
                               for="passwordCheck">Parola Tekrar</label>
                    </div>
                    <div *ngIf="passwordCheck.invalid && (passwordCheck.dirty || passwordCheck.touched)"
                         class="text-danger">
                        <div *ngIf="passwordCheck.errors?.['required']">Parola Tekrar alanı boş bırakılamaz</div>
                    </div>
                    <div *ngIf="formData.password != formData.passwordCheck"
                         class="text-danger">
                        <div>Parola ve Parola Tekrar alanı aynı olmalıdır!</div>
                    </div>
                </div>
                <div>
                    <button type="submit"
                            [disabled]="formToken.invalid"
                            class="btn btn-primary">
                        <i class="bi bi-send"></i>
                        Gönder
                    </button>
                </div>
                <div *ngIf="formToken.invalid">
                    <div class="text-danger">
                        * Lütfen tüm alanları doldurunuz!
                    </div>
                </div>
                <div class="d-flex align-items-center gap-2">
                    <a class="btn btn-outline-secondary"
                       [routerLink]="['','main','signin']">
                        <i class="bi bi-key"></i> Kullanıcı Girişi
                    </a>
                    <a class="btn btn-outline-secondary"
                       [routerLink]="['','main','register']">
                        <i class="bi bi-person-add"></i> Yeni Üyelik
                    </a>

                </div>
            </div>
        </form>
    </div>

</div>
