<app-page-header title="Ödemeler"></app-page-header>
<app-panel>
    <dx-data-grid keyExpr="id"
                  [dataSource]="accountService.payments!"
                  [showBorders]="true"
                  [showRowLines]="true"
                  [rowAlternationEnabled]="true">
        <dxo-paging [enabled]="true"
                    [pageSize]="10"></dxo-paging>
        <dxo-pager [visible]="true"
                   [allowedPageSizes]="[10,50,100]"
                   [showPageSizeSelector]="true"></dxo-pager>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-summary>
            <dxi-total-item column="amount"
                            summaryType="sum"
                            valueFormat="currency">
            </dxi-total-item>
        </dxo-summary>
        <dxi-column dataField="id"
                    [visible]="false"></dxi-column>
        <dxi-column dataField="date"
                    [sortIndex]="0"
                    sortOrder="desc"
                    dataType="date"></dxi-column>
        <dxi-column dataField="amount"
                    format="currency"></dxi-column>
    </dx-data-grid>
</app-panel>
