$yellow: #ff8800;
$blue : #3a0070;

$font-size-base: 0.85rem;
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/flag-icons/sass/flag-icons.scss";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

body,
html {
    @extend .h-100;
}

body {
    font-family: "Open Sans", sans-serif;
    padding-top: 75px;
    @extend .bg-light;
}

.fib {
    background-size: contain!important;
    background-position: 50%!important;
    background-repeat: no-repeat!important;
  }
  

.fi {
    @extend .fib;
    position: relative !important;
    display: inline-block !important;
    width: 1.333333 * 1em !important;
    line-height: 1em !important;
}